
.tile {
  position: relative;
  margin-bottom: 20px;
  color: #616f77;
  background-color: white;
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-out;
  -moz-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
}

.tile.collapsed .controls .minimize {
  display: none;
}

.tile.collapsed .controls .expand {
  display: inline !important;
}

.tile.refreshing {
  filter: alpha(opacity=30);
  opacity: 0.3;
  cursor: not-allowed;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tile.refreshing a {
  pointer-events: none;
  cursor: default;
}

.tile.refreshing .controls .settings i:first-of-type {
  display: none;
}

.tile.refreshing .controls .settings i:last-of-type {
  display: inline-block !important;
}

.tile.isInFullScreen {
  width: 90%;
}

.tile.isInFullScreen .controls .remove {
  display: none;
}

.tile.isInFullScreen .controls > li:first-child {
  margin-right: 0 !important;
}

.tile .tile-header,
.tile .tile-widget,
.tile .tile-body,
.tile .tile-footer {
  position: relative;
  padding: 15px;
}

.tile .dvd {
  border-color: rgba(0, 0, 0, 0.1);
  border-style: solid;
  border-width: 0;
}
.widget-appointments .day {
  font-size: 110px;
  line-height: 120px;
  font-weight: 300;
}

.widget-appointments .month {
  font-size: 36px;
  line-height: 56px;
  font-weight: 700;
}

.widget-appointments .b-l {
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.widget-appointments .owl-carousel .owl-item {
  padding: 0 60px;
}

.widget-appointments .owl-carousel .owl-controls .owl-buttons {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 100%;
  text-align: left;
}

.widget-appointments .owl-carousel .owl-controls .owl-buttons .owl-next {
  float: right;
}

.widget-appointments .owl-carousel .owl-controls .owl-buttons div {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 18px;
  padding: 4px 10px;
}
.bg-greensea
{
    background-color: #22262e;
    color: white !important;
}

.tile .dvd {
  border-color: white;
  border-style: solid;
  border-width: 0;
}

.tile .dvd.dvd-white {
  border-color: rgba(255, 255, 255, 0.1);
}

.tile .dvd.dvd-btm {
  border-bottom-width: 1px;
}

.tile .dvd.dvd-top {
  border-top-width: 1px;
}

.modalBackground
        {
            background-color: Black;
            filter: alpha(opacity=60);
            opacity: 0.6;
        }
        .modalPopup
        {
            background-color: #FFFFFF;
            width: 300px;
            border: 3px solid #0DA9D0;
            border-radius: 12px;
            padding: 0;
        }
        .modalPopup .header
        {
            background-color: #2FBDF1;
            height: 30px;
            color: White;
            line-height: 30px;
            text-align: center;
            font-weight: bold;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
        }
        .modalPopup .body
        {
            padding: 10px;
            min-height: 50px;
            text-align: center;
            font-weight: bold;
        }
        .modalPopup .footer
        {
            padding: 6px;
        }
        .modalPopup .yes, .modalPopup .no
        {
            height: 23px;
            color: White;
            line-height: 23px;
            text-align: center;
            font-weight: bold;
            cursor: pointer;
            border-radius: 4px;
        }
        .modalPopup .yes
        {
            background-color: #2FBDF1;
            border: 1px solid #0DA9D0;
        }
        .modalPopup .no
        {
            background-color: #9F9F9F;
            border: 1px solid #5C5C5C;
        }
        
.smart-form fieldset {
margin-top:10px}

/*.dista{display:table}
.dista_cell{display:table-cell;vertical-align:top}
.dista .dista_cell:first-child {width:150px}
.dista_cell .tab-pane {width:96%;}
.dista_cell .tab-pane .dataTables_wrapper{overflow-x:auto}*/
.xauto{overflow-x:auto}