﻿<%@ Control Language="C#" ClientIDMode="AutoID" AutoEventWireup="true" CodeBehind="viewDocument.ascx.cs" Inherits="LTS_CRM.Supplier.viewDocument" %>
<asp:LinkButton ID="lnkView" OnClick="lnkView_Click" runat="server" Text="View Document" ></asp:LinkButton>